PUSHOVER_USER_KEY=unf17tf7u2ipfxye95jfex9opjyg1m
PUSHOVER_API_TOKEN=aa1m5o4fv8r3n3goo19v2kinovio41

# Email Configuration (for email alerts)
# Multiple recipients supported (comma-separated)
EMAIL_FROM=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here
EMAIL_TO=recipient1@example.com,recipient2@example.com,recipient3@example.com
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587

OPENAI_API_KEY=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
OPENAI_MODEL_NAME=gpt-4o-mini
EE_PROJECT_ID=AIzaSyCwRiVC-_C_9uRm3cSNMkEMj2X3Y_ACteo
